{% extends 'base.html.twig' %}

{% block title %}Logement Index{% endblock %}

{% block body %}
<div class="container">

        
    <div class="row">
    {% for logement in logements %}
    <div class="col-md-4"> 
    <a href="{{ path('app_logement_show', {'id': logement.id}) }}" style="text-decoration: none; color: inherit;">
    <div class="card">
     <div class="card-header">{{ logement.type }}</div>
      <div class="card-body">
        {% if logement.images is not empty %}
           <div id="carousel-{{ logement.id }}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner"> 
             {% for index, image in logement.images %}
            <div class="carousel-item {% if index == 0 %}active{% endif %}">
            <img src="{{ asset('assets/uploads/logement/mini/300x300-' ~ image.getFilename()) }}" alt="" class="d-block w-100">
            </div>
            {% endfor %}
             </div>
             <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ logement.id }}" data-bs-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Previous</span>
             </button>
             <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ logement.id }}" data-bs-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Next</span>
             </button>
             </div>
             {% endif %}
                            
         <h5 class="card-title">Logement ID: {{ logement.id }}</h5>
         <p class="card-text">Nombre de voyageurs: {{ logement.nbVoyageur }}</p>
         <p class="card-text">Nombre de chambres: {{ logement.nbChambre }}</p>
         <p class="card-text">Nombre de salles de bain: {{ logement.nbSalleDeBain }}</p>
                            
        <a href="{{ path('app_logement_show', {'id': logement.id}) }}" class="btn btn-primary">Voir</a>
           <a href="{{ path('app_reservation_new', { 'logementId': logement.id }) }}">Réserver ce logement</a>
    
        </div>
        </div> 
        </div>
        {% else %}
        <div class="col-12">
        <p>Aucun logement trouvé</p>
        </div>
        {% endfor %}
        </div>
        </div>
{% endblock %}
