{% extends 'base.html.twig' %}

{% block title %}Logement{% endblock %}

{% block body %}
    <h1>Logement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ logement.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ logement.type }}</td>
            </tr>
            <tr>
                <th>Nb_voyageur</th>
                <td>{{ logement.nbVoyageur }}</td>
            </tr>
            <tr>
                <th>Nb_chambre</th>
                <td>{{ logement.nbChambre }}</td>
            </tr>
            <tr>
                <th>Nb_salle_de_bain</th>
                <td>{{ logement.nbSalleDeBain }}</td>
            </tr>
              <tr>
                <th>Disponibilités</th>
                <td>
                    {% if logement.disponibilites is defined and logement.disponibilites is not empty %}
                        <ul>
                            {% for disponibilite in logement.disponibilites %}
                                <li>
                                    Du {{ disponibilite.dateDebut | date('Y-m-d')}} au {{ disponibilite.dateFin | date('Y-m-d') }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Aucune disponibilité
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_logement_index') }}">back to list</a>

    <a href="{{ path('app_logement_edit', {'id': logement.id}) }}">edit</a>

    {{ include('logement/_delete_form.html.twig') }}
{% endblock %}
