{% extends 'base.html.twig' %}

{% block title %}Logement{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ logement.type }}</h1>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for image in logement.images %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <img src="{{ asset('assets/uploads/logement/' ~ image.getFilename()) }}" class="d-block w-100" alt="..." style="width: 400px; height: 400px; object-fit: cover;">
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

    <table class="table mt-4">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ logement.id }}</td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td>{{ logement.type }}</td>
            </tr>
            <tr>
                <th scope="row">Nombre de voyageurs</th>
                <td>{{ logement.nbVoyageur }}</td>
            </tr>
            <tr>
                <th scope="row">Nombre de chambres</th>
                <td>{{ logement.nbChambre }}</td>
            </tr>
            <tr>
                <th scope="row">Nombre de salles de bain</th>
                <td>{{ logement.nbSalleDeBain }}</td>
            </tr>
            <tr>
                <th scope="row">Disponibilités</th>
                <td>
                    {% if availableDisponibilites %}
                        <ul>
                            {% for disponibilite in availableDisponibilites %}
                                <li>{{ disponibilite.dateDebut|date('d-m-Y') }} - {{ disponibilite.dateFin|date('d-m-Y') }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Aucune disponibilité
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new', { 'logementId': logement.id }) }}" class="btn btn-primary">Réserver ce logement</a>
    <a href="{{ path('app_home') }}" class="btn btn-secondary">Retour à la liste</a>
</div>
{% endblock %}
